<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
            <a href="/admin/createCategory" class="btn btn-primary">Create category</a>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <div class="form-check">
                                        </div>
                                    </th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>isDeleted</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let category of categories) { %>
                                <tr>
                                    <td class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </td>
                                    <td><b><%= category.name %></b></td>
                                    <td><%= category.description %></td>
                                    <td><%= category.deleted ? 'Yes' : 'No' %></td>
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                                                <i class="material-icons md-more_horiz"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <!-- <a class="dropdown-item" href="#">View detail</a> -->
                                                <a class="dropdown-item" href="/admin/edit-category/<%= category._id %>">Edit info</a>
                                                <% if(category.deleted) { %>
                                                <a class="dropdown-item text-danger" href="/admin/restore-category/<%= category._id %>">Restore</a>
                                                <% } else { %>
                                                <a class="dropdown-item text-danger" href="/admin/delete-category/<%= category._id %>">Delete</a>
                                                <% } %>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->
