<h3>placewd</h3>

<div class="container">
    <!-- Order Summary Section -->
    <div class="order-summary">
        <h4>Order Summary</h4>
        <table class="table table-borderless">
            <% if (cart && cart.items.length > 0) { %>
            <tbody>
                <% cart.items.forEach(item => { %>
                <tr>
                    <td class="d-flex align-items-center">
                        <img src="/products/<%= item.product.images[0] %>" alt="<%= item.product.name %>" class="product-img me-3">
                        <a class="text-dark" href="/product/<%= item.product._id %>" class="text-justify "><%= item.product.name %></a>
                    </td>
                    <td>
                        <span>Qty: <%= item.quantity %></span><br>
                        <span class="font-lg fw-900 text-brand">
                            <%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR' }).format(item.quantity * item.product.price) %>
                        </span>
                    </td>
                </tr>
                <% }); %>
                <tr class="border-top">
                    <td>Cart Subtotal</td>
                    <td>
                        <span class="font-lg fw-900 text-brand"><%= cart.formattedPrice %></span>
                    </td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td> <i class="fa fa-gift me-1"></i> Free Shipping</td>
                </tr>
                <tr class="border-top">
                    <td>Total</td>
                    <td>
                        <strong>
                            <span class="font-xl fw-900 text-brand"><%= cart.formattedPrice %></span>
                        </strong>
                    </td>
                </tr>
            </tbody>
            <% } else { %>
                <tr>
                    <td colspan="2">Your cart is empty.</td>
                </tr>
            <% } %>
        </table>
    </div>
<!-- Shipping Address Section -->
<div class="shipping-address">
<h4>Shipping Address</h4>
<div id="selectedAddress">
    <% if (selectedAddress) { %>
        <div class="address-details">
            <p><strong><%= selectedAddress.fullName %></strong></p>
            <p><%= selectedAddress.addressLine1 %> <% if (selectedAddress.addressLine2) { %>, <%= selectedAddress.addressLine2 %> <% } %></p>
            <p><%= selectedAddress.townCity %>, <%= selectedAddress.state %> <%= selectedAddress.pincode %></p>
            <p><%= selectedAddress.country %></p>
            <% if (selectedAddress.isDefault) { %>
                <p><span class="badge badge-primary">Default Address</span></p>
            <% } %>
        </div>
    <% } else { %>
        <p>No address selected.</p>
    <% } %>
</div>
        <button type="button" class="btn btn-outline-dark btn-sm mt-3" data-toggle="modal" data-target="#addressModal">
            <i class="fa fa-plus mr-1"></i> View & Select Address
        </button>
    </div>
    
    <!-- Address Modal -->
    <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Select Shipping Address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="scrollable-address-list">
                        <% addresses.forEach(address => { %>
                            <div class="card mb-2 address-item <%= selectedAddress && selectedAddress._id.toString() === address._id.toString() ? 'selected-address' : '' %>" data-address-id="<%= address._id %>">
                                <div class="card-body">
                                    <div class="address-details">
                                        <p><strong><%= address.fullName %></strong></p>
                                        <p><%= address.addressLine1 %> <% if (address.addressLine2) { %>, <%= address.addressLine2 %> <% } %></p>
                                        <p><%= address.townCity %>, <%= address.state %> <%= address.pincode %></p>
                                        <p><%= address.country %></p>
                                        <% if (address.isDefault) { %>
                                            <p><span class="badge badge-primary">Default Address</span></p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/add-address" class="btn btn-outline-dark">
                        <i class="fa fa-plus mr-1"></i> Add New Address
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Payment Method Section -->
    <div class="form-group text-center mt-4">
        <h4>Payment Method</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="paymentMethod" id="cod" value="cash-on-delivery" checked>
            <label class="form-check-label" for="cod">
                Cash on Delivery
            </label>
        </div>
    </div>
  

<form id="orderForm" method="POST" action="/place-order">
        <input type="hidden" id="selectedAddressId" name="addressId" value="<%= selectedAddress ? selectedAddress._id : '' %>">
        <input type="hidden" name="paymentMethod" value="Cash on Delivery">
        <input type="hidden" name="totalPrice" value="<%= cart.totalPrice.toFixed(2) %>">
        
        <% cart.items.forEach(item => { %>
            <input type="hidden" name="items[<%= item.product._id %>][name]" value="<%= item.product.name %>">
            <input type="hidden" name="items[<%= item.product._id %>][price]" value="<%= item.product.price %>">
            <input type="hidden" name="items[<%= item.product._id %>][quantity]" value="<%= item.quantity %>">
            <input type="hidden" name="items[<%= item.product._id %>][totalPrice]" value="<%= (item.quantity * item.product.price).toFixed(2) %>">
        <% }); %>

        <button type="submit" id="placeOrderButton" class="btn btn-dark mt-3">Place Order</button>
    </form>



</div>