<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span>
                <a href="/shop" rel="nofollow">Shop</a>
                <span></span>
                <%= product.name %>
            </div>
        </div>
    </div>

    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <!-- Main Image -->
                                    <div id="mainImage" class="mb-3">
                                        <img src="/products/<%= product.images[0] %>" class="img-fluid border rounded-3" alt="Main product image">
                                    </div>

                                    <!-- Thumbnails -->
                                    <div class="row">
                                        <% product.images.forEach((image, index) => { %>
                                            <div class="col-2 mb-2">
                                                <img src="/products/<%= image %>" class="img-thumbnail" alt="product thumbnail" onclick="thumbnailClick('<%= index %>')">
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail"><%= product.name %></h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span>Brand: <%= product.brand.name %></span>
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted">(25 reviews)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">Price: <%= product.formattedPrice %></span></ins>
                                            <ins><span class="old-price font-md ml-15"></span></ins>
                                            <span class="save-price font-md color3 ml-15">25% Off</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>Category: <%= product.category.name %></p>
                                    </div>

                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li>
                                            Availability:
                                            <% if (product.stock === 0) { %>
                                                <span class="out-of-stock text-danger ml-5">Out of Stock</span>
                                            <% } else if (product.stock < 10) { %>
                                                <span class="low-stock text-danger ml-5"><%= product.stock %> pieces left - Stocks are running out!</span>
                                            <% } else { %>
                                                <span class="in-stock text-success ml-5"><%= product.stock %> pieces left</span>
                                            <% } %>
                                        </li>
                                    </ul>
                                    
                                    <!-- Conditionally display these divs based on stock -->
                                    <% if (product.stock > 0) { %>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            <div class="product-extra-link2">
                                                <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 m-auto entry-main-content">
                                <h2 class="section-title style-1 mb-30">Description</h2>
                                <div class="description mb-50" style="max-height: 200px; overflow-y: scroll;">
                                    <p><%= product.description %></p>
                                </div>
                                <h3 class="section-title style-1 mb-30">Additional Info</h3>
                                <table class="table table-striped mb-30">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Case Material</th>
                                            <td><%= product.caseMaterial %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Crystal Type</th>
                                            <td><%= product.crystalType %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Dial Color</th>
                                            <td><%= product.dialColor %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hour Markers</th>
                                            <td><%= product.hourMarkers %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Hand Type</th>
                                            <td><%= product.handType %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Bezel Type</th>
                                            <td><%= product.bezelType %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Case Shape</th>
                                            <td><%= product.caseShape %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Additional Design Elements</th>
                                            <td><%= product.additionalDesignElements.join(', ') %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Power Reserve</th>
                                            <td><%= product.powerReserve %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Warranty Period</th>
                                            <td><%= product.warrantyPeriod %></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Certifications</th>
                                            <td><%= product.certifications.join(', ') %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div>
                            <h3 class="section-title style-1 mb-30 mt-30">Reviews (3)</h3>
                            <!-- Comments -->
                            <div class="comments-area style-2">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h4 class="mb-30">Customer questions & answers</h4>
                                        <div class="comment-list">
                                            <!-- Existing comments here -->
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb text-center">
                                                        <img src="userassets/imgs/page/avatar-6.jpg" alt="">
                                                        <h6><a href="#">Jacky Chan</a></h6>
                                                        <p class="font-xxs">Since 2012</p>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width:90%"></div>
                                                        </div>
                                                        <p>Thank you very fast shipping from Poland only 3 days.</p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-xs mr-30">December 4, 2020 at 3:12 pm</p>
                                                                <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Other existing comments here -->
                        
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Review Form -->
                                <!--  -->
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Related Products -->
            <div class="row mt-60">
                <div class="col-12">
                    <h3 class="section-title style-1 mb-30">Related Products</h3>
                </div>
                <div class="col-12">
                    <div class="row related-products">
                        <% relatedProducts.forEach(relatedProduct => { %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6 mb-4">
                                <div class="product-cart-wrap small hover-up">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/product/<%= relatedProduct._id %>" tabindex="0">
                                                <img class="default-img" src="/products/<%= relatedProduct.images[0] %>" alt="<%= relatedProduct.name %>">
                                                <% if (relatedProduct.images[1]) { %>
                                                    <img class="hover-img" src="/products/<%= relatedProduct.images[1] %>" alt="<%= relatedProduct.name %>">
                                                <% } %>
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                           
                                            <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="/wishlist" tabindex="0">
                                                <i class="fi-rs-heart"></i>
                                            </a>
                                           
                                        </div>
                                        
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2>
                                            <a href="/product/<%= relatedProduct._id %>" tabindex="0"><%= relatedProduct.name %></a>
                                        </h2>
                                        <div class="rating-result" title="90%">
                                            <span></span>
                                        </div>
                                        <div class="product-price">
                                            <span>$<%= relatedProduct.formattedPrice %></span>
                                            <% if (relatedProduct.oldPrice) { %>
                                                <span class="old-price">$<%= relatedProduct.oldPrice %></span>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<style>
    .out-of-stock {
    font-weight: bold;
}

.low-stock {
    font-weight: bold;
}

.in-stock {
    font-weight: normal;
}

</style>

<script>
    // Wait for the whole page to load
    window.addEventListener('load', function () {
        // Hide the preloader if applicable
        var preloader = document.getElementById('preloader-active');
        if (preloader) {
            preloader.style.display = 'none';
        }
    });
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

<!-- Custom JavaScript for Thumbnail Click -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var mainImage = document.getElementById('mainImage').querySelector('img');
        var thumbnails = document.querySelectorAll('.img-thumbnail');

        thumbnails.forEach(function(thumbnail, index) {
            thumbnail.addEventListener('click', function() {
                // Change main image source to clicked thumbnail's source
                mainImage.src = this.src;
                mainImage.alt = this.alt;

                // Optional: Add/remove active class for styling purposes
                thumbnails.forEach(function(thumb) {
                    thumb.classList.remove('active');
                });
                this.classList.add('active');
            });
        });
    });
</script>